.benefits {
  text-align: center;
  display: grid;
  gap: 4rem;

  &__title {
    display: grid;
    gap: 1.5rem;
    button {
      justify-self: center;
    }
  }
}

.benefits__cards {
  display: grid;
  gap: 3rem;
  @include breakpoint-up(large) {
    grid-template-columns: repeat(3, 1fr);
  }
  z-index: -1;
}

.benefits__card {
  --border-radius: 0.5rem;
  position: relative;
  padding: 2rem 1rem 1rem 1rem;
  border: $border;
  border-radius: var(--border-radius);
  background-color: $col-neutral-100;
  box-shadow: 5px 5px $col-neutral-800;
  &-img-cont {
    position: absolute;
    padding: 0.5rem;
    top: -20px;
    left: 20px;
    background-color: $col-neutral-300;
    border: $border;
    border-radius: var(--border-radius);
  }
}
