.pages {
  text-align: center;
  display: grid;
  gap: 4rem;

  &__title {
    display: grid;
    gap: 1.5rem;
    & button {
      justify-self: center;
    }
  }

  &__pages-container {
    display: grid;
    gap: 2rem;
    padding-bottom: 5px;
    @include breakpoint-up(large) {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }
  }

  &__page {
    display: grid;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: $col-neutral-100;
    border: $border;
    border-radius: 0.5rem;
    box-shadow: 5px 5px $col-neutral-800;
    @include breakpoint-up(xlarge) {
      padding-inline: 3rem;
      padding-block: 2rem;
    }
    .divider {
      width: 100%;
      height: 3px;
      background-color: $col-neutral-800;
      box-shadow: 0px 0px 0px 5px $col-accent;
    }
    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: center;
      background-color: $col-neutral-300;
    }
    button:hover {
      background-color: $col-neutral-100;
    }
  }
}
